<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frogobox.appsdk">

    <application
        android:name=".FrogoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeSdk">
        <activity
            android:name=".news.NewsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainJavaActivity"
            android:exported="false" />
        <activity
            android:name=".log.LogActivity"
            android:exported="false" />
        <activity
            android:name=".notification.simple.ManualActivity"
            android:exported="false" />
        <activity
            android:name=".notification.stack.StackNotifActivity"
            android:exported="false" />
        <activity
            android:name=".notification.custom.ReplyActivity"
            android:exported="false" />
        <activity
            android:name=".notification.custom.CustomNotifActivity"
            android:exported="false" />
        <activity
            android:name=".notification.simple.MainNotifActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:theme="@style/ThemeSdk.HideStatusBarUI"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".notification.custom.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver android:name=".notification.simple.MainNotifReceiver" />

        <service
            android:name=".notification.custom.NotificationService"
            android:exported="false" />
    </application>

</manifest>